USE [master]
GO
/****** Object:  Database [pokemon_db_proto]    Script Date: 01/10/2024 10:15:10 ******/
CREATE DATABASE [pokemon_db_proto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pokemon2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pokemon_db_new.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pokemon2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\pokemon_db_new_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pokemon_db_proto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pokemon_db_proto]
GO
/****** Object:  UserDefinedFunction [dbo].[ReplaceSingleQuotesWithDoubleQuotes]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ReplaceSingleQuotesWithDoubleQuotes](@input NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @output NVARCHAR(MAX)
    SET @output = @input

    WHILE CHARINDEX('''', @output) > 0
    BEGIN
        DECLARE @start INT = CHARINDEX('''', @output)
        DECLARE @end INT = CHARINDEX('''', @output, @start + 1)
        IF @end = 0 BREAK

        DECLARE @name NVARCHAR(MAX) = SUBSTRING(@output, @start, @end - @start + 1)
        SET @output = REPLACE(@output, @name, '"' + SUBSTRING(@name, 2, LEN(@name) - 2) + '"')
    END

    RETURN @output
END

GO
/****** Object:  UserDefinedFunction [dbo].[ReplaceSingleQuotesWithDoubleQuotes2]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ReplaceSingleQuotesWithDoubleQuotes2](@input NVARCHAR(MAX))
RETURNS NVARCHAR(MAX)
AS
BEGIN
    DECLARE @output NVARCHAR(MAX)
    SET @output = @input

    WHILE CHARINDEX('''', @output) > 0
    BEGIN
        DECLARE @start INT = CHARINDEX('''', @output)
        DECLARE @end INT = CHARINDEX('''', @output, @start + 1)
        IF @end = 0 BREAK

        DECLARE @name NVARCHAR(MAX) = SUBSTRING(@output, @start, @end - @start + 1)
        SET @output = REPLACE(@output, @name, '"' + SUBSTRING(@name, 2, LEN(@name) - 2) + '"')
    END

    RETURN @output
END
GO
/****** Object:  Table [dbo].[abilities]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abilities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[text] [nvarchar](max) NULL,
	[type] [nvarchar](50) NULL,
 CONSTRAINT [PK_abilities] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attacks]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attacks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attack_name] [varchar](50) NULL,
	[cost] [varchar](max) NULL,
	[damage] [varchar](max) NULL,
	[convertedEnergyCost] [int] NULL,
	[text] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_abilities]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_abilities](
	[card_id] [nvarchar](50) NULL,
	[ability_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_attacks]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_attacks](
	[card_id] [nvarchar](50) NULL,
	[attack_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_resistances]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_resistances](
	[card_id] [nvarchar](50) NULL,
	[weakness_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_subtypes]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_subtypes](
	[card_id] [nvarchar](50) NULL,
	[subtype_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_types]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_types](
	[card_id] [nvarchar](50) NULL,
	[type_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[card_weaknesses]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[card_weaknesses](
	[card_id] [nvarchar](50) NULL,
	[weakness_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards](
	[id] [nvarchar](50) NOT NULL,
	[set] [nvarchar](50) NOT NULL,
	[series] [nvarchar](50) NOT NULL,
	[publisher] [nvarchar](50) NOT NULL,
	[generation] [nvarchar](50) NOT NULL,
	[release_date] [nvarchar](50) NOT NULL,
	[artist] [nvarchar](50) NULL,
	[name] [nvarchar](100) NOT NULL,
	[set_num] [nvarchar](50) NOT NULL,
	[supertype] [nvarchar](100) NOT NULL,
	[level] [nvarchar](3) NULL,
	[hp] [int] NULL,
	[evolvesFrom] [nvarchar](50) NULL,
	[evolvesTo] [nvarchar](100) NULL,
	[retreatCost] [nvarchar](100) NULL,
	[convertedRetreatCost] [nvarchar](50) NULL,
	[rarity] [nvarchar](50) NULL,
	[flavorText] [nvarchar](max) NULL,
	[nationalPokedexNumbers] [nvarchar](50) NULL,
	[legalities] [nvarchar](max) NOT NULL,
	[rules] [nvarchar](max) NULL,
	[regulationMark] [nvarchar](1) NULL,
	[ancientTrait] [nvarchar](max) NULL,
	[img] [nvarchar](max) NULL,
 CONSTRAINT [PK_pokemon] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[collections]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collections](
	[id_user] [int] NOT NULL,
	[id_card] [nvarchar](50) NOT NULL,
	[quantita] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[decks]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[decks](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
	[description] [nvarchar](max) NULL,
	[id_user] [int] NOT NULL,
 CONSTRAINT [PK_deck] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ratings]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ratings](
	[id_deck] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[rate] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resistances]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resistances](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](50) NULL,
	[value] [nvarchar](50) NULL,
 CONSTRAINT [PK_resistances] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[slots]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[slots](
	[id_deck] [int] NOT NULL,
	[id_card] [nvarchar](50) NOT NULL,
	[quantity] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subtypes]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subtypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_subtypes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[types]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_types] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[weaknesses]    Script Date: 01/10/2024 10:15:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[weaknesses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](50) NULL,
	[value] [nvarchar](50) NULL,
 CONSTRAINT [PK_weaknesses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[card_abilities]  WITH CHECK ADD FOREIGN KEY([ability_id])
REFERENCES [dbo].[abilities] ([id])
GO
ALTER TABLE [dbo].[card_abilities]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([id])
GO
ALTER TABLE [dbo].[card_attacks]  WITH CHECK ADD FOREIGN KEY([attack_id])
REFERENCES [dbo].[attacks] ([id])
GO
ALTER TABLE [dbo].[card_attacks]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([id])
GO
ALTER TABLE [dbo].[card_resistances]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([id])
GO
ALTER TABLE [dbo].[card_resistances]  WITH CHECK ADD FOREIGN KEY([weakness_id])
REFERENCES [dbo].[resistances] ([id])
GO
ALTER TABLE [dbo].[card_subtypes]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([id])
GO
ALTER TABLE [dbo].[card_subtypes]  WITH CHECK ADD FOREIGN KEY([subtype_id])
REFERENCES [dbo].[subtypes] ([id])
GO
ALTER TABLE [dbo].[card_types]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([id])
GO
ALTER TABLE [dbo].[card_types]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[types] ([id])
GO
ALTER TABLE [dbo].[card_weaknesses]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([id])
GO
ALTER TABLE [dbo].[card_weaknesses]  WITH CHECK ADD FOREIGN KEY([weakness_id])
REFERENCES [dbo].[weaknesses] ([id])
GO
ALTER TABLE [dbo].[collections]  WITH CHECK ADD  CONSTRAINT [FK_collezione_cards] FOREIGN KEY([id_card])
REFERENCES [dbo].[cards] ([id])
GO
ALTER TABLE [dbo].[collections] CHECK CONSTRAINT [FK_collezione_cards]
GO
ALTER TABLE [dbo].[collections]  WITH CHECK ADD  CONSTRAINT [FK_collezione_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[collections] CHECK CONSTRAINT [FK_collezione_user]
GO
ALTER TABLE [dbo].[decks]  WITH CHECK ADD  CONSTRAINT [FK_deck_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[decks] CHECK CONSTRAINT [FK_deck_user]
GO
ALTER TABLE [dbo].[ratings]  WITH CHECK ADD  CONSTRAINT [FK_rating_deck] FOREIGN KEY([id_deck])
REFERENCES [dbo].[decks] ([id])
GO
ALTER TABLE [dbo].[ratings] CHECK CONSTRAINT [FK_rating_deck]
GO
ALTER TABLE [dbo].[ratings]  WITH CHECK ADD  CONSTRAINT [FK_rating_user] FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ratings] CHECK CONSTRAINT [FK_rating_user]
GO
ALTER TABLE [dbo].[slots]  WITH CHECK ADD  CONSTRAINT [FK_slot_cards] FOREIGN KEY([id_card])
REFERENCES [dbo].[cards] ([id])
GO
ALTER TABLE [dbo].[slots] CHECK CONSTRAINT [FK_slot_cards]
GO
ALTER TABLE [dbo].[slots]  WITH CHECK ADD  CONSTRAINT [FK_slot_deck] FOREIGN KEY([id_deck])
REFERENCES [dbo].[decks] ([id])
GO
ALTER TABLE [dbo].[slots] CHECK CONSTRAINT [FK_slot_deck]
GO
USE [master]
GO
