<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaDex</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/sleeve.css">
</head>
<body>
<header>
    <img src="/media/MegaDex-17-09-2024.png" alt="PokemonDB Logo" class="logo">
    <nav>
        <ul>
            <li><a href="/index.html" class="active">HOME</a></li>
            <li><a href="/deckbuilder.html">DECKBUILDER</a></li>
            <li><a href="/community.html">COMMUNITY</a></li>
			<li><a href="/sleeve.html">RACCOGLITORE</a></li>
			<li><a href="/login.html">AREA PERSONALE</a></li>

            <li>
                <div id="language-switch">
                    <button id="switch-lang">
                        <img id="flag-image" src="/media/it.png" alt="Language Flag" class="flag">
                    </button>
                </div>
            </li>
        </ul>
    </nav>
</header>
<section id="home">
        <h1>Benvenuto su MegaDex!</h1>
        <p>Esplora il mondo Pokémon e scopri tutto quello che c'è da sapere sui tuoi Pokémon preferiti.</p>
    </section>
<main>
    
<br>
  <section id="sleeves">
    <h1>Esplora le carte</h1>
    <form id="search-form1" action="/cards" method="get">
      <div class="input-button-container">
        <input type="text" name="card-search" placeholder="Cerca una carta">
        <button type="submit">Cerca</button>
      </div>
    </form>
    <div class="filters-container">
	  <dl>
      <li>
        <div class="menu-container">
          <label for="sort-menu">Ordina per:</label>
          <select id="sort-menu" >
            <option>Seleziona un'opzione</option>
            <option value="name">Per nome</option>
            <option value="subtype">Per sottotipo</option>
            <option value="type">Per tipo</option>
            <option value="supertype">Per supertipo</option>
          </select>
        </div>
      </li>
      <li>
        <div class="menu-container">
          <label for="filter-type">Tipo:</label>
          <select id="filter-type" >
            <option value="">Seleziona un'opzione</option>
            <option value="Fire" >Fuoco</option>
            <option value="Water" >Acqua</option>
            <option value="Grass" >Erba</option>
            <option value="Psychic" >Psichico</option>
            <option value="Fairy" >Fata</option>
            <option value="Dragon" >Drago</option>
            <option value="Fighitng" >Lotta</option>
            <option value="Lightning" >Elettro</option>
            <option value="Darkness" >Buio</option>
            <option value="Metal" >Acciaio</option>
            <option value="Colorless" >Incolore</option>
          </select>
        </div>
      </li>
      <li>
        <div class="menu-container">
          <label for="filter-subtype">Sottotipo:</label>
          <select id="filter-subtype" >
            <option value="">Seleziona un'opzione</option>
            <option value="Ancient">Ancient</option>
			<option value="ACE SPEC">ACE SPEC</option>
			<option value="Baby">Baby</option>
			<option value="Basic">Basic</option>
			<option value="BREAK">BREAK</option>
			<option value="Eternamax">Eternamax</option>
			<option value="EX">EX</option>
			<option value="Fusion Strike">Fusion Strike</option>
			<option value="Future">Future</option>
			<option value="GX">GX</option>
			<option value="Goldenrod Game Corner">Goldenrod Game Corner</option>
			<option value="Item">Item</option>
			<option value="Level-Up">Level-Up</option>
			<option value="MEGA">MEGA</option>
			<option value="Prism Star">Prism Star</option>
			<option value="Prime">Prime</option>
			<option value="Rapid Strike">Rapid Strike</option>
			<option value="Restored">Restored</option>
			<option value="Rockets Secret Machine">Rockets Secret Machine</option>
			<option value="Single Strike">Single Strike</option>
			<option value="SP">SP</option>
			<option value="Special">Special</option>
			<option value="Stadium">Stadium</option>
			<option value="Stage 1">Stage 1</option>
			<option value="Stage 2">Stage 2</option>
			<option value="Supporter">Supporter</option>
			<option value="TAG TEAM">TAG TEAM</option>
			<option value="Tera">Tera</option>
			<option value="Technical Machine">Technical Machine</option>
			<option value="Ultra Beast">Ultra Beast</option>
			<option value="V">V</option>
			<option value="V-UNION">V-UNION</option>
			<option value="VMAX">VMAX</option>
			<option value="VSTAR">VSTAR</option>
			<option value="Pokémon Tool">Pokémon Tool</option>
			<option value="Pokémon Tool F">Pokémon Tool F</option>
			<option value="Rockets Secret Machine">Rockets Secret Machine</option>
			<option value="Star">Star</option>
			<option value="Team Plasma">Team Plasma</option>
          </select>
        </div>
      </li>
    <!--  <li>
        <div class="menu-container">
          <label for="filter-regulationMark">RMark:</label>
          <select id="filter-regulationMark" >
            <option value="" disabled selected>nessun filtro</option>
          </select>
        </div>
      </li>
    -->
      <li>
        <div class="menu-container">
          <label for="filter-supertype">Supertipo:</label>
          <select id="filter-supertype" >
            <option value="" selected>Seleziona un'opzione</option>
            <option value="Pokémon">Pokémon</option>
			<option value="Energy">Energy</option>
			<option value="Trainer">Trainer</option>
          </select>
        </div>
      </li>
      <li>
        <div class="menu-container">
          <label for="filter-release">Espansione:</label>
          <select id="filter-release" >
            <option value="" selected>Seleziona un'opzione</option>
			<option value="151">151</option>
			<option value="Ancient Origins">Ancient Origins</option>
			<option value="Aquapolis">Aquapolis</option>
			<option value="Arceus">Arceus</option>
			<option value="Astral Radiance">Astral Radiance</option>
			<option value="Astral Radiance Trainer Gallery">Astral Radiance Trainer Gallery</option>
			<option value="BASE">Base</option>
			<option value="Base Set 2">Base Set 2</option>
			<option value="Battle Styles">Battle Styles</option>
			<option value="Best of Game">Best of Game</option>
			<option value="Brilliant Stars">Brilliant Stars</option>
			<option value="Brilliant Stars Trainer Gallery">Brilliant Stars Trainer Gallery</option>
			<option value="Burning Shadows">Burning Shadows</option>
			<option value="BREAKpoint">BREAKpoint</option>
			<option value="BREAKthrough">BREAKthrough</option>
			<option value="Crown Zenith">Crown Zenith</option>
			<option value="Crown Zenith Galarian Gallery">Crown Zenith Galarian Gallery</option>
			<option value="Call of Legends">Call of Legends</option>
			<option value="Celebrations">Celebrations</option>
			<option value="Celebrations: Classic Collection">Celebrations: Classic Collection</option>
			<option value="Champion's Path">Champion's Path</option>
			<option value="Chilling Reign">Chilling Reign</option>
			<option value="Crystal Guardians">Crystal Guardians</option>
			<option value="Crimson Invasion">Crimson Invasion</option>
			<option value="Dark Explorers">Dark Explorers</option>
			<option value="Darkness Ablaze">Darkness Ablaze</option>
			<option value="Deoxys">Deoxys</option>
			<option value="Detective Pikachu">Detective Pikachu</option>
			<option value="Diamond & Pearl">Diamond & Pearl</option>
			<option value="Double Crisis">Double Crisis</option>
			<option value="Dragon">Dragon</option>
			<option value="Dragon Frontiers">Dragon Frontiers</option>
			<option value="Dragon Majesty">Dragon Majesty</option>
			<option value="Dragon Vault">Dragon Vault</option>
			<option value="Dragons Exalted">Dragons Exalted</option>
			<option value="Emerald">Emerald</option>
			<option value="Emerging Powers">Emerging Powers</option>
			<option value="Evolving Skies">Evolving Skies</option>
			<option value="Evolutions">Evolutions</option>
			<option value="Expedition Base Set">Expedition Base Set</option>
			<option value="Fates Collide">Fates Collide</option>
			<option value="FireRed & LeafGreen">FireRed & LeafGreen</option>
			<option value="Flashfire">Flashfire</option>
			<option value="Forbidden Light">Forbidden Light</option>
			<option value="Fossil">Fossil</option>
			<option value="Fusion Strike">Fusion Strike</option>
			<option value="Furious Fists">Furious Fists</option>
			<option value="Generations">Generations</option>
			<option value="Great Encounters">Great Encounters</option>
			<option value="Gym Challenge">Gym Challenge</option>
			<option value="Gym Heroes">Gym Heroes</option>
			<option value="Hidden Fates">Hidden Fates</option>
			<option value="Hidden Legends">Hidden Legends</option>
			<option value="HGSS Black Star Promos">HGSS Black Star Promos</option>
			<option value="Holon Phantoms">Holon Phantoms</option>
			<option value="Jungle">Jungle</option>
			<option value="Kalos Starter Set">Kalos Starter Set</option>
			<option value="Legends Awakened">Legends Awakened</option>
			<option value="Legend Maker">Legend Maker</option>
			<option value="Legendary Collection">Legendary Collection</option>
			<option value="Legendary Treasures">Legendary Treasures</option>
			<option value="Lost Origin">Lost Origin</option>
			<option value="Lost Origin Trainer Gallery">Lost Origin Trainer Gallery</option>
			<option value="Lost Thunder">Lost Thunder</option>
			<option value="Majestic Dawn">Majestic Dawn</option>
			<option value="McDonald's Collection 2011">McDonald's Collection 2011</option>
			<option value="McDonald's Collection 2012">McDonald's Collection 2012</option>
			<option value="McDonald's Collection 2014">McDonald's Collection 2014</option>
			<option value="McDonald's Collection 2015">McDonald's Collection 2015</option>
			<option value="McDonald's Collection 2016">McDonald's Collection 2016</option>
			<option value="McDonald's Collection 2017">McDonald's Collection 2017</option>
			<option value="McDonald's Collection 2018">McDonald's Collection 2018</option>
			<option value="McDonald's Collection 2019">McDonald's Collection 2019</option>
			<option value="McDonald's Collection 2021">McDonald's Collection 2021</option>
			<option value="McDonald's Collection 2022">McDonald's Collection 2022</option>
			<option value="Mysterious Treasures">Mysterious Treasures</option>
			<option value="Noble Victories">Noble Victories</option>
			<option value="Next Destinies">Next Destinies</option>
			<option value="Neo Destiny">Neo Destiny</option>
			<option value="Neo Discovery">Neo Discovery</option>
			<option value="Neo Genesis">Neo Genesis</option>
			<option value="Neo Revelation">Neo Revelation</option>
			<option value="Obsidian Flames">Obsidian Flames</option>
			<option value="Paldea Evolved">Paldea Evolved</option>
			<option value="Paradox Rift">Paradox Rift</option>
			<option value="Phantom Forces">Phantom Forces</option>
			<option value="Plasma Blast">Plasma Blast</option>
			<option value="Plasma Freeze">Plasma Freeze</option>
			<option value="Plasma Storm">Plasma Storm</option>
			<option value="Pokémon Futsal Collection">Pokémon Futsal Collection</option>
			<option value="Pokémon GO">Pokémon GO</option>
			<option value="Pokémon Rumble">Pokémon Rumble</option>
			<option value="POP Series 1">POP Series 1</option>
			<option value="POP Series 2">POP Series 2</option>
			<option value="POP Series 3">POP Series 3</option>
			<option value="POP Series 4">POP Series 4</option>
			<option value="POP Series 5">POP Series 5</option>
			<option value="POP Series 6">POP Series 6</option>
			<option value="POP Series 7">POP Series 7</option>
			<option value="POP Series 8">POP Series 8</option>
			<option value="POP Series 9">POP Series 9</option>
			<option value="Power Keepers">Power Keepers</option>
			<option value="Primal Clash">Primal Clash</option>
			<option value="Rebel Clash">Rebel Clash</option>
			<option value="Ruby & Sapphire">Ruby & Sapphire</option>
			<option value="Rising Rivals">Rising Rivals</option>
			<option value="Roaring Skies">Roaring Skies</option>
			<option value="Scarlet & Violet">Scarlet & Violet</option>
			<option value="Scarlet & Violet Black Star Promos">Scarlet & Violet Black Star Promos</option>
			<option value="Scarlet & Violet Energies">Scarlet & Violet Energies</option>
			<option value="Secret Wonders">Secret Wonders</option>
			<option value="Shining Fates">Shining Fates</option>
			<option value="Shining Legends">Shining Legends</option>
			<option value="Shiny Vault">Shiny Vault</option>
			<option value="Silver Tempest">Silver Tempest</option>
			<option value="Silver Tempest Trainer Gallery">Silver Tempest Trainer Gallery</option>
			<option value="Skyridge">Skyridge</option>
			<option value="Southern Islands">Southern Islands</option>
			<option value="SWSH Black Star Promos">SWSH Black Star Promos</option>
			<option value="Steam Siege">Steam Siege</option>
			<option value="Stormfront">Stormfront</option>
			<option value="Team Magma vs Team Aqua">Team Magma vs Team Aqua</option>
			<option value="Team Rocket">Team Rocket</option>
			<option value="Team Rocket Returns">Team Rocket Returns</option>
			<option value="Team Up">Team Up</option>
			<option value="Triumphant">Triumphant</option>
			<option value="Unified Minds">Unified Minds</option>
			<option value="Unbroken Bonds">Unbroken Bonds</option>
			<option value="Unleashed">Unleashed</option>
			<option value="Vivid Voltage">Vivid Voltage</option>
			<option value="Wizards Black Star Promos">Wizards Black Star Promos</option>
			<option value="XY">XY</option>
			<option value="XY Black Star Promos">XY Black Star Promos</option>
          </select>
        </div>
      </li>
    </dl>
	</div>

    <div class="card-list">
      <!-- Carte visualizzate dinamicamente -->

    </div>
    <div class="pagination">
      <button id="prev-page" disabled><</button>
      <span id="current-page">Pagina 1 di </span>
      <button id="next-page">></button>
    </div>
  </section>


</main>



<!--
<footer>
    <div class="footer-container">
        <div class="footer-info">
            <h3>Multinazionalona SPA</h3>
            <p>Via Esempio 123, 00100 Roma, Italia</p>
            <p>+39 012 3456789</p>
            <p>info@multinazionalona.it</p>
        </div>
        <div class="footer-social">
            <a th:href="https://www.facebook.com/multinazionalona" target="_blank">Facebook</a>
            <a th:href="https://www.instagram.com/multinazionalona" target="_blank">Instagram</a>
            <a th:href="https://www.linkedin.com/company/multinazionalona" target="_blank">LinkedIn</a>
        </div>
    </div>
</footer>
 -->
<script src="/js/script.js" defer></script>
</body>
</html>
