* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #3498db, #2ecc71);
    color: #333;
    line-height: 1.6;
    text-align: center;
    flex: 1;
}

header {
    background: white;
    color: #333;
    padding: 1em 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    height: 55px;
    margin-left: 1.5em;
}

header a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

header a.active {
    color: #2980b9;
    font-weight: bold;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 0.8em;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #2980b9;
}

#language-switch {
    margin-top: 6px;
    margin-right: 30px;
}

#language-switch button {
    background: none;
    border: none;
    cursor: pointer;
}

#switch-lang {
    margin-left: 5px;
}

#language-switch .flag {
    height: 20px;
    width: auto;
}

main {
    padding: 1em;
    flex: 1;
    display: flex;
}

h1, h2, h3 {
    color: #333;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#home h1 {
    color: #333; /* Colore per 'Welcome to PokemonDB, Trainer!' */
}

p {
    color: #333;
    margin: 1em;
    font-size: 1.2em;
}

section {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin: 1.5em auto;
    padding: 1.5em;
    width: 80%;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

#search-form1, #search-form2 {
    display: flex;
    align-items: center;
}

form input[type="text"], form input[type="password"], form select {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin: 1em 0;
    border-radius: 25px;
    border: 2px solid #2980b9;
    outline: none;
    transition: border 0.3s ease;
}

form button, .button-deck, .selected-card button {
    padding: 10px 20px;
    background: #2980b9;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover, .selected-card button:hover {
    background: #1abc9c;
}

.input-button-container {
    display: flex;
    align-items: center; /* Allinea verticalmente al centro */
    justify-content: center;
    width: 100%;
}

#search-form1 input[type="text"] {
    padding: 10px;
    max-width: 400px; /* Larghezza massima dell'input */
    margin-right: 25px; /* Spazio tra input e bottone */
    border-radius: 25px;
    border: 2px solid #2980b9;
    outline: none;
    transition: border 0.3s ease;
}

.selected-card button {
    width: 40px; /* Imposta una larghezza fissa per i bottoni */
    height: 40px; /* Imposta la stessa altezza per i bottoni */
    font-size: 18px; /* Dimensione del testo all'interno del bottone */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-deck {
    margin-bottom: 10px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card-sheet {
    font-family: Arial, sans-serif;
    max-height: 100vh;
    overflow-y: auto;
}

/* Stili per i titoli delle proprietà */
.card-sheet p {
    margin: 10px 0;
    font-size: 14px;
}

.card-sheet p span {
    font-weight: bold;
    color: #333;
}

.card-title {
    font-size: 10px;
}

.selected-card p {
    display: flex;
    font-size: 0.9em;
    color: #333;
    align-items: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#sleeves h1, #card-details h1 {
    color: #333;
    margin-bottom: 20px;
}

#search-form2 input[type="text"] {
    flex: 10;
    display: inline-block;
    width: 100%;
}

#search-form2 h2 {
    margin-top: 2em;
}

.card-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card-details {
    display: flex;
    align-content: center;
    margin-top: 20px;
}

.card, .selected-card {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card {
    width: 180px;
}

.selected-card {
    display: flex;
    margin: 1.5em auto;
    width: 240px;
}

.card img, .selected-card img {
    max-width: 100%;
    height: auto;
}

#sleeves {
    width: 70%;
    margin: 1.5em auto;
}

#card-details {
    width: 25%;
    margin: 1.5em auto;
}

#selected-card-list {
    list-style-type: none;
    padding: 0;
}

#selected-card-list li {
    margin-bottom: 10px;
    padding: 5px;
    background: #eee;
    border-radius: 4px;
}

.card, .selected-card {
    display: flex;
    flex-direction: column; /* Per mantenere l'immagine sopra il testo */
    align-items: center; /* Centra l'immagine e il testo */
}

/* Contenitore per ciascun menu a tendina */
.menu-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 10px); /* Imposta la larghezza degli elementi al 50% meno un margine */
    margin: 5px;
}

.menu-container label {
    font-weight: bold;
    margin-bottom: 5px;
}

.menu-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 0.75em;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffff;
}

.menu-container select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (min-width: 768px) {
    .menu-container {
        flex-direction: row;
        align-items: center;
    }

    .menu-container label {
        margin-right: 15px;
        margin-bottom: 0;
    }

    .menu-container select {
        width: auto;
        flex: 1;
    }
}

.deck-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.left-section {
    width: 75%;
    padding-right: 20px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 180px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.1); /* Scala il card al 110% della dimensione originale */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta l'ombra per un effetto di profondità */
}

.quantity-control {
    display: flex; /* Utilizza Flexbox per disporre i contenuti in orizzontale */
    align-items: center; /* Allinea verticalmente al centro */
    justify-content: center; /* Centra gli elementi */
}

dl {
    list-style-type: none;
}

dl li {
    margin: 0 auto;
    width: 90%;
}

.filters-container {
              /* Usa Flexbox per disporre gli elementi */
    flex-wrap: wrap;        /* Permette agli elementi di andare a capo */
    justify-content: space-around; /* Distribuisce lo spazio tra gli elementi */
}

