* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #3498db, #2ecc71);
    color: #333;
    line-height: 1.6;
    text-align: center;
    flex: 1;
}

header {
    background: white;
    color: #333;
    padding: 1em 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    height: 55px;
    margin-left: 1.5em;
}

header a {
    color: #333;
    text-decoration: none;
}

header a.active {
    color: #2980b9;
    font-weight: bold;
}

header nav {
    display: flex;
    align-items: center;
}


header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 0.8em;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #2980b9;
}

#language-switch {
    margin-top: 6px;
    margin-right: 30px;
}

#language-switch button {
    background: none;
    border: none;
    cursor: pointer;
}
#switch-lang {
    margin-left: 5px;
}
#language-switch .flag {
    height: 20px;
    width: auto;
}

main {
    margin-top: 0px;
    padding: 1em;
    flex: 1;
}

h1, h2, h3 {
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#home h1 {
    color: #333; /* Colore per 'Welcome to PokemonDB, Trainer!' */
}

#login-section h2 {
    color: #333; /* Colore per 'Trainer Login' */
}

h2 {
    margin-bottom: 20px;
}

p {
    color: #333;
    margin: 1.5em 0;
    font-size: 1.2em;
}

section {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    margin: 1.5em auto;
    padding: 1.5em;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="text"], form input[type="password"], form input[type="tel"], form input[type="date"], form input[type="email"], form select {
    padding: 10px;
    width: 70%;
    max-width: 400px;
    margin-bottom: 1em;
    margin-top: 1em;
    border-radius: 25px;
    border: 2px solid #2980b9;
    outline: none;
    transition: border 0.3s ease;
}

form button {
    padding: 10px 20px;
    background: #2980b9;
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

form button:hover {
    background: #1abc9c;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#search, #matchups, #login-section, #home, #deck-list, #registration-form-section, #sleeves, #card-details {
    animation: fadeIn 1s ease-in;
}
#search {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.card {
    padding: 10px;
    width: 200px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transizione per l'immagine */
}

.card:hover {
    transform: scale(1.1); /* Scala l'immagine al 110% della dimensione originale */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta l'ombra per un effetto di profondità */
}

/* Aggiungi un hover sul paragrafo quando si passa il mouse sull'immagine */
.card img:hover + p {
    transform: scale(1.05); /* Scala il paragrafo al 105% */
    color: #007BFF; /* Cambia il colore del testo per evidenziarlo */
    transition: transform 0.3s ease, color 0.3s ease; /* Transizione per il paragrafo */
}

.card p {
    font-size: 0.9em;
    color: #333;
    margin-top: 5px; /* Aggiunto margine per una migliore spaziatura */
    transition: none; /* Assicura che il testo non si ingrandisca al passaggio del mouse */
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background: white;
    color: #333;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1); /* Aggiunta di ombra per separare visivamente il footer */
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-info {
    margin-bottom: 10px;
}

.footer-info h3 {
    margin-bottom: 10px;
    font-size: 1em;
}

.footer-info p {
    margin: 5px 0;
    font-size: 0.9em;
}

.footer-social a {
    color: #2980b9;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #1abc9c;
}
.registrati {
    font-size: 1em;
}
table {
    width: 93%;
    max-width: 900px;
    margin: 1.5em auto;
    border-collapse: collapse;
    border: none;
    background-color: transparent;
    border-radius: 8px;

}

table thead {
    background-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #333;
}

table th, table td, .deck-row td, #home td  {
    padding: 6px;
    text-align: center;
    border-bottom: 1px solid  rgba(52, 152, 219, 0.1);
    
}

table tbody tr:hover {
    background-color: rgba(52, 152, 219, 0.1);
}

table th {
    font-size: 0.9em;
}

table td {
    font-size: 0.95em;
    color: #333;
}

@media (max-width: 768px) {
    table {
        width: 100%;
    }

    table th, table , .deck-row td, #home td   {
        padding: 8px;
        font-size: 0.9em;
    }
}

.rating i {
    font-size: 1.2em; /* Dimensione delle icone */
    margin: 0 5px; /* Spaziatura tra le icone e i numeri */
}

.text-success {
    color: #28a745; /* Colore verde per il pollice verso l'alto */
}

.text-danger {
    color: #dc3545; /* Colore rosso per il pollice verso il basso */
}

button a {
    text-decoration: none;
    color: white;
}


.card-js p {
    font-size: 0.95em;
    color: #555;
}
.card-container-js {
    display: flex;
    flex-wrap: wrap; /* Permette di andare a capo quando si raggiunge il numero massimo di elementi */
    gap: 10px; /* Spazio tra le carte */
    justify-content: space-between; /* Distribuisce lo spazio tra le carte */
    width: 100%;
}

.card-js {
    width: calc(100% / 6 - 10px); /* Larghezza di ogni carta per fare in modo che ce ne stiano 6 per riga */
    text-align: center;
    display: inline-block;
}

.card-js img {
    max-width: 100%; /* Adatta l'immagine alla larghezza della carta */
    height: auto;
}

.details-row:hover {
    background-color: transparent;
}

.button-group .icon-btn, .data, .button-group .comm-btn {
    padding: 5px 10px;  /* Dimensioni ridotte */
    background: #2980b9;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 0.75em;
    cursor: pointer;
    transition: background 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.bi {
    margin-right: 5px; /* Aggiusta il valore in base alle tue necessità */
}

.button-group .icon-btn:hover, .data:hover , .comm-btn:hover{
    background: #1abc9c;  /* Colore hover predefinito per tutti i pulsanti */
}


.button-group .icon-btn:nth-child(3):hover {
    background: #c0392b;  /* Colore rosso più scuro al hover per Cancella */
}

td .inner {
    font-size: 0.9em;
    color: #333;

}

tr .card-details-inner {
    padding: 0px;
    margin: 0px;
}

tr td {
    padding: 0%;
    
}


dl li {
    margin: 0 auto;
    width: 90%;
}

.filters-container {
    /* Usa Flexbox per disporre gli elementi */
    flex-wrap: wrap;        /* Permette agli elementi di andare a capo */
    justify-content: space-around; /* Distribuisce lo spazio tra gli elementi */
}

#sleeves {
    width: 70%;
    margin: 1.5em auto;
}

#sleeves h1, #card-details h1 {
    color: #333;
    margin-bottom: 20px;

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

.close {
    color: red;
    font-size: 20px;
    float: right;
    cursor: pointer;

}