<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MegaDex</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/deckbuilder.css}">
</head>
<body>
<header>
  <img th:src="@{/media/MegaDex-17-09-2024.png}" alt="PokemonDB Logo" class="logo">
  <nav>
    <ul>
      <li><a th:href="@{/index}" class="active">HOME</a></li>
      <li><a th:href="@{/deckbuilder}" class="active">DECKBUILDER</a></li>
      <li><a th:href="@{/community}">COMMUNITY</a></li>
      <li><a th:href="@{/login}" >AREA PERSONALE</a></li>
      <li>
        <div id="language-switch">
          <button id="switch-lang">
            <img id="flag-image" th:src="@{/media/it.png}" alt="Language Flag" class="flag">
          </button>
        </div>
      </li>
    </ul>
  </nav>
</header>

<main>
  <section id="deckbuilder">
    <h1>Costruisci il tuo mazzo</h1>
    <form id="search-form1" th:action="@{/search}" method="get">
      <div class="input-button-container">
        <input type="text" name="card-search" placeholder="Cerca una carta" required>
        <button type="submit">Cerca</button>
      </div>
    </form>

    <dl>
      <li>
        <div class="menu-container">
          <label for="sort-menu">Ordina per:</label>
          <select id="sort-menu" >
            <option value="">Seleziona un'opzione</option>
            <option th:value="'name'">Per nome</option>
            <option th:value="'text'">Per testo</option>
            <option th:value="'typology'">Per tipologia</option>
            <option th:value="'type'">Per tipo</option>
            <option th:value="'evolution'">Per evoluzione</option>
          </select>
        </div>
      </li>
      <li>
        <div class="menu-container">
          <label for="filter-menu">Filtri:</label>
          <select id="filter-menu" >
            <option value="">Seleziona un filtro</option>
            <option th:value="'card-typology'">Tipologia carta</option>
            <option th:value="'subtype'">Sottotipo carta</option>
            <option th:value="'format'">Formato</option>
            <option th:value="'card-type'">Tipo carta</option>
            <option th:value="'edition'">Edizione</option>
            <option th:value="'pokemon'">Pokémon</option>
            <option th:value="'release-date'">Data rilascio</option>
          </select>
        </div>
      </li>
    </dl>

    <div class="card-list">
      <!-- Carte visualizzate dinamicamente -->
      <div th:each="card : ${cards}" class="card">
        <img th:src="${card.imageUrl}" th:alt="${card.name}">
        <p th:text="${card.name}">Nome Carta</p>
      </div>
    </div>
  </section>

  <section class="sidebar">
    <div class="selected-cards">
      <h2>Carte Selezionate</h2>
      <ul id="selected-card-list">
        <li th:each="selectedCard : ${selectedCards}">
          <p th:text="${selectedCard.name}">Nome carta selezionata</p>
        </li>
      </ul>
    </div>

    <button class="button-deck" type="submit" th:onclick="'saveDeck()'">Salva</button>
    <button class="button-deck" type="submit" th:onclick="'exportDeck()'">Esporta</button>

    <form id="search-form2" th:action="@{/import}" method="post">
      <h2>Importa mazzo</h2>
      <input type="text" name="deck-link" placeholder="Inserisci link" required>
    </form>
    <button class="button-deck" type="submit">Importa</button>
  </section>
</main>

<script th:src="@{/js/deckbuilder.js}" defer></script>
</body>
</html>
